<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>詹智君的介紹</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: black; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




</head>
<body>
	<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
	<a class="navbar-brand" href="#">MENU</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="#aboutme">我是誰?</a></li>
			<li class="nav-item"><a class="nav-link" href="#bookmark">人生名言</a></li>
			<li class="nav-item"><a class="nav-link" href="#youtube">求職相關資訊</a></li>
		</ul>
	</div>
	</nav>

	<main class="container-fluid bg-info text-white text-center">

		<nav>
			<h1><a href="http://www1.pu.edu.tw/~s1101690/chun.jpg" class="text-reset text-decoration-none text-white bg-warning" target="_blank" id="I">詹智君  </a></h1>
			<h2><a href="https://www.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="PU">靜宜大學</a>
			 \ <a href="https://csim.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="CSIM">資訊管理學系</a></h2>
			 <br>
			</nav>
        <img src="https://www1.pu.edu.tw/~s1101690/CSP/chun.jpg" alt="照片" width="300" class="img-fluid rounded-circle" id="PICTURE"> 
		<br><br><br>
		<div class="row">
			<session id="aboutme" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">我是誰</header>
				<h3><font color="blue">系級：</font>資管2A</h3>
				<h3><font color="blue">學號:</font> 4110169103</h3>
				<h3><a href="mailto:s1090350@gm.pu.edu.tw" class="text-reset text-decoration-none text-black "><font color="blue">E-Mail:</font>s1016903@gm.pu.edu.tw<br></a></h3>

			</session>

			<article id="bookmark" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">人生名言</header> 
				<h3>可以幫我買一杯奶茶嗎?</h3>
				<h3>不是我沒有錢</h3>
				<h3>是你買的比較甜</h3>
			</article>
			
			<aside id="youtube" class="col-lg-4">
				
				<h1><a href = "https://www1.pu.edu.tw/~s1101690/CSP/職業資訊相關.html" target="blank">職業資訊相關</a></hi1

			</aside>
		</div><br><br>
		</footer>
		
		
	</main>
</body>
</html>