<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>myself</title>
    </head>
    <body>
	<style>
	* { 
            font-family: "標楷體"; }
	p { color: white }; 
	</style><body  bgcolor="ffa500" text="#ffa500"><h1><p align="center"> 求職相關資訊</p></h1>
		<H1>
		<a href = "https://www1.pu.edu.tw/~s1101690/CSP/職涯測驗結果.html" target="blank">職涯測驗結果</a><BR>
		<a href = "https://www1.pu.edu.tw/~s1101690/CSP/MIS相關工作介紹.html" target="blank">MIS相關工作介紹</a><BR>
		<a href ="https://www1.pu.edu.tw/~s1101690/CSP/求職履歷自傳.html" target="blank">求職履歷自傳</a><br></h1>
    </body>    
</html>
